<!DOCTYPE html>
html(lang="zh-HK")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 投票 App - 顯示
        link(rel="stylesheet", href="css/style.css")
    body
        div.mainGrid
            .scoreGrid
                .score 0.0
            .chartGrid
                canvas.chart
            .utilityGrid
                //- .btnReset 重置
                .sessionCode(style="font-size: 2em; font-weight: bold; color: #333;") Code: --
                .statusConnectedUser 已連線用戶: --
                .votedCount 已投票人數: --
                .statusFrame
                    .statusMsgConnecting 連線中...
                    .statusMsgConnected 已連線
                    .statusMsgDisconnected 已斷線
                
        script(src="socket.io/socket.io.js")
        script(src="js/jquery.js")
        script(src="js/countUp.js")
        script(src="js/Chart.js")
        script(src="js/display-script.js")